.task {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #cdcdcd;
}

.task-body {
    align-self: center;
    text-align: left;
}

button.remove-task {
    width: 40px;
    height: 40px;
    background: url("./images/trash-alt-solid.svg") center no-repeat;
    background-size: 60%;
    border: none;
    cursor: pointer;
}

input.toggle-done {
    width: 50px;
}