form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

input {
    width: 80%;
    line-height: 30px;
    border-radius: 0;
    border: 1px solid #cdcdcd;
    padding: 0 10px;
}

button {
    width: 20%;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    background: #dddddd;
    border: 1px solid #cdcdcd;
    border-radius: 0;
    cursor: pointer;
}